<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Store</title>
</head>
<body>
    <h1>Welcome to the movie store main page!</h1>
    <button onclick="window.location.href='http://127.0.0.1:5000/movie/add';">
      Add Movie
    </button>
    <button onclick="window.location.href='http://127.0.0.1:5000/movie/buy';">
      Buy Movie
    </button>
    <button onclick="window.location.href='http://127.0.0.1:5000/movie/delete';">
      Delete Movie
    </button>

</body>
</html>